@model SwEngHomework.DescriptiveStatistics.Stats;


@{
    ViewData["Title"] = "Commissions";
}


<h1>Statistics</h1>

<p>Average: @Model.Average</p>
<p>Median: @Model.Median</p>
<p>Range: @Model.Range</p>
